<!doctype html>
<html lang="en" xlmns:ng="http://angularjs.org">
<head>
    <title>DriveMark</title>

    <meta http-equiv="X-UA-Compatible" content="IE=9" >
    <meta charset="utf-8">
	<meta name="description" content="">
	<meta name="author" content="">
	
	<!-- Mobile Specific Metas
	================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="includes/css/app.css">
    <link rel="stylesheet" href="includes/css/bootstrap.min.css">

    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="includes/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular.min.js"></script>
    <script type="text/javascript" src="http://code.angularjs.org/1.0.3/angular-cookies.min.js"></script>
    <script type="text/javascript" src="app/app.js"></script>
    <script type="text/javascript" src="app/UrlListCtrl.js"></script>
    <script type="text/javascript" src="app/UserInfoCtrl.js"></script>
    <script type="text/javascript">

        function handleDriveClientLoad() {
            angular.element(document).ready(function () {
                angular.bootstrap(document, ["drivemark"]);
            });
        }

    </script>
    <script type="text/javascript" src="https://apis.google.com/js/client.js?onload=handleDriveClientLoad"></script>
</head>
<body>

    <div dg-loader class="loader">loading<br /><img src="includes/img/loader_h.gif" /></div>

    <div class="navbar">
        <div class="navbar-inner">
            <div class="container">
                <a href="#" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-chevron-down"></span>
                </a>
                <a class="brand" href="#/">DriveMark</a>

                <div class="collapse nav-collapse">
                    <ul class="nav pull-right navbar-responsive-collapse" ng-controller="UserInfoCtrl" id="userInfoCtrl">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="icon-ok-sign" ng-show="connected"></i>
                                <i class="icon-question-sign" ng-hide="connected"></i> 
                                Google account <b class="caret"></b></a>
                            <ul class="dropdown-menu span6">
                                <li class="nav-header"><i class="icon-user"></i> <span>{{userInfo.name}}</span></li>
                                <li><a href="#" ng-click="disconnect()" ng-show="connected">Disconnect</a></li>
                                <li><a href="#" ng-click="connect()" ng-hide="connected">Connect</a></li>
                                <li ng-show="connected" class="nav-header"><i class="icon-signal"></i> 
                                    Usage: <span>{{Math.round(userInfo.quotaBytesUsed * 10000 / userInfo.quotaBytesTotal) / 100}} %</span></li>
                                <li class="divider"></li>
                                <li class="nav-header"><i class="icon-folder-open"></i> <span>Folder \ File</span>
                                <li ng-show="connected"><a href="#" ng-click="selectDriveFolder()" ng-show="connected">
                                    {{rootFolder.title}}<span class="muted">&nbsp;\&nbsp;{{bookmarkFile.title}}</span></a></li>
                            </ul>
                        </li>
                    </ul></div>
            </div>
        </div>
    </div>
    <div class="container" ng-controller="UrlListCtrl">
        <div class="row">
            <div class="span12 add-mark">
                <form name="markerForm" ng-submit="save(markerForm, newMark)">
                    <div class="input-prepend">
                        <span class="add-on"><i class="icon-bookmark"></i></span>    
                        <input name="url" id="newMark" ng-model="newMark.url" type="url" value="" class="span12" placeholder="Add new bookmark" required />
                    </div>
                    <div class="input-prepend">
                        <span class="add-on"><i class="icon-tags"></i></span>
                        <input name="labels" id="newLabels" ng-model="newMark.rawLabels" type="text" value="" class="span12" placeholder="Labels" /><br />
                    </div>
                        <button type="submit" class="btn btn-primary span2 pull-right">Add</button>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="span12">
                <p class="text-info" ng-show="newMark.labels.length > 0">Labels for the new bookmark</p>
                <span class="label label-info" ng-repeat="label in newMark.labels">{{label}}</span>
            </div>
            <div class="span12 page-separator">
                <i class="icon-asterisk"></i>
                <i class="icon-asterisk"></i>
                <i class="icon-asterisk"></i>
            </div>
        </div>

        <div class="row">
            <div class="span12">

                <ul class="nav nav-tabs">
                    <li ng-class="{active: isHome}"><a href="#/">Latest bookmarks</a></li>
                    <li ng-class="{active: isLabel}" ng-hide="isHome"><a href="#">{{labelname}}</a></li>
                </ul>

                <div class="row">
                    <div class="alert alert-success span6" ng-show="successMessage">
                        <button type="button" class="close" ng-click="hideAlerts()">&times;</button>
                        <strong>{{successMessage.label}}</strong> {{successMessage.text}}
                    </div>
                    <input type="text" class="span3 pull-right" value="" placeholder="Filter" ng-model="query" />
                </div>
                
                <table class="table table-striped">
                    <tbody>
                        <tr ng-repeat="mark in marks | filter:query">
                            <td ng-model="mark.name">{{mark.name}}</td>
                            <td><a href="{{mark.url}}" target="_blank">{{mark.url}}</a></td>
                            <td>
                                <button class="btn btn-mini" type="button" ng-click="editMark(mark, null)"><i class="icon-edit"></i></button>
                                <button class="btn btn-mini btn-danger" type="button" ng-click="deleteMark(mark)"><i class="icon-remove"></i></button>
                            </td>
                            <td class="labels">
                                <a href="#/label/{{label}}" class="label label-info" ng-repeat="label in mark.labels">{{label}}</a>
                            </td>
                        </tr>  
                    </tbody>
                </table>
            </div>
            
            <div class="span12 page-separator">
                <i class="icon-asterisk"></i>
                <i class="icon-asterisk"></i>
                <i class="icon-asterisk"></i>
            </div>
        </div>
    </div>
    

</body>
</html>
