<!doctype html>
<html lang="en" xlmns:ng="http://angularjs.org">
<head>
    <title>DriveMark</title>

    <meta http-equiv="X-UA-Compatible" content="IE=9" >
    <meta charset="utf-8">
	<meta name="description" content="">
	<meta name="author" content="">
	
	<!-- Mobile Specific Metas
	================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="includes/css/app.css">
    <link rel="stylesheet" href="includes/css/bootstrap.min.css">

    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.3.min.js"></script>
    <script src="includes/js/bootstrap.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular.min.js"></script>
    <script src="http://code.angularjs.org/1.0.3/angular-cookies.min.js"></script>
    <script type="text/javascript">
        var app = angular.module("drivemark", ["ngCookies"]);

        app.factory("googleDrive", function () {

            var googleDrive = {};

            googleDrive.CLIENT_ID = '852549593040.apps.googleusercontent.com';
            googleDrive.SCOPES = 'https://www.googleapis.com/auth/drive';

            googleDrive.data = null;

            googleDrive.checkAuth = function () {
                var self = this;

                setTimeout(function () {
                    gapi.auth.authorize(
                        { 'client_id': self.CLIENT_ID, 'scope': self.SCOPES, 'immediate': true },
                        function (authResult) { self.handleAuthResult(authResult); });
                }, 1);
            };

            googleDrive.connect = function () {

                gapi.auth.authorize(
                    { 'client_id': self.CLIENT_ID, 'scope': self.SCOPES, 'immediate': false },
                    function (authResult) { self.handleAuthResult(authResult); });
            };
            googleDrive.load = function (scope) {
                // load library, on callback => checkAuth, on callback => call callback!
                this.data = scope;

                this.checkAuth();
            };

            googleDrive.handleAuthResult = function (authResult) {
                var self = this;
                var scope = this.data;

                if (authResult && !authResult.error) {
                    // Access token has been successfully retrieved, requests can be sent to the API.
                    // load client to retrieve user information
                    gapi.client.load('drive', 'v2', function () {

                        var request = gapi.client.drive.about.get();
                        request.execute(function (resp) {
                            if (!resp.error) {

                                scope.connected = true;
                                console.log(resp);
                                scope.userInfo = resp;
                                scope.$digest();

                                if (!scope.rootFolder) {
                                    var request = gapi.client.drive.files.get({
                                        'fileId': scope.userInfo.rootFolderId
                                    });
                                    request.execute(function (resp) {
                                        scope.rootFolder = resp.title;
                                        scope.$digest();

                                    });
                                }

                            } else {
                                alert("Error! unable to retrieve user information");
                            }
                        });

                    });

                } else {
                    // No access token could be retrieved, show the button to start the authorization flow.

                    scope.$apply(function () {
                        scope.connected = false;
                    });
                }
            };

            return googleDrive;
        });

        function handleDriveClientLoad() {
            angular.element(document).ready(function () {
                angular.bootstrap(document, ["drivemark"]);
            });
        }

    </script>
    <script type="text/javascript" src="https://apis.google.com/js/client.js?onload=handleDriveClientLoad"></script>
    <script src="app/UrlListCtrl.js"></script>
    <script src="app/UserInfoCtrl.js"></script>
</head>
<body>
    <div class="navbar">
        <div class="navbar-inner">
            <a class="brand">DriveMark</a>
            <ul class="nav pull-right" ng-controller="UserInfoCtrl" id="userInfoCtrl">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="icon-ok-sign" ng-show="connected"></i>
                        <i class="icon-question-sign" ng-hide="connected"></i> 
                        Google account <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li class="nav-header"><i class="icon-user"></i> <span>{{userInfo.name}}</span></li>
                        <li><a href="#" ng-click="disconnect()" ng-show="connected">Disconnect</a></li>
                        <li><a href="#" ng-click="connect()" ng-hide="connected">Connect</a></li>
                        <li ng-show="connected" class="nav-header"><i class="icon-signal"></i> 
                            Usage: <span>{{Math.round(userInfo.quotaBytesUsed * 10000 / userInfo.quotaBytesTotal) / 100}} %</span></li>
                        <li class="divider"></li>
                        <li class="nav-header"><i class="icon-folder-open"></i> <span>Folder</span></li>
                        <li ng-show="connected"><a href="#" ng-click="selectDriveFolder()" id="gdActionFolderChange" ng-show="connected">{{rootFolder}}..</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="container" ng-controller="UrlListCtrl">

        <div class="row">
            <div class="span8 add-mark">
                <form name="markerForm" ng-submit="save(markerForm, newMark)">
                    <div class="input-prepend">
                        <span class="add-on"><i class="icon-bookmark"></i></span>    
                        <input name="url" id="newMark" ng-model="newMark.url" type="url" value="" class="span6" placeholder="Add new bookmark" required />
                    </div>
                    <div class="input-prepend">
                        <span class="add-on"><i class="icon-tags"></i></span>
                        <input name="labels" id="newLabels" ng-model="newMark.rawLabels" type="text" value="" class="span6" placeholder="Labels" /><br />
                    </div>
                        <button type="submit" class="btn btn-primary span1 offset5">Add</button>
                </form>
            </div>
            <div class="span4">
                <p class="text-info" ng-show="newMark.labels.length > 0">Label for the new bookmark</p>
                <span class="label label-info" ng-repeat="label in newMark.labels">{{label}}</span>
            </div>
            <div class="span12 page-separator">
                <i class="icon-asterisk"></i>
                <i class="icon-asterisk"></i>
                <i class="icon-asterisk"></i>
            </div>
        </div>

        <div class="row">
            <div class="span12">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="">Latest bookmarks</a></li>
                </ul>
                <input type="text" class="span3 pull-right" value="" placeholder="Filter" ng-model="query" />
                <table class="table table-striped">
                    <tbody>
                        <tr ng-repeat="mark in marks | filter:query">
                            <td ng-model="mark.name">{{mark.name}}</td>
                            <td><a href="{{mark.url}}" target="_blank">{{mark.url}}</a></td>
                            <td>
                                <button class="btn btn-mini" type="button" ng-click="save(mark)"><i class="icon-edit"></i></button>
                                <button class="btn btn-mini btn-danger" type="button"><i class="icon-remove"></i></button>
                            </td>
                            <td class="labels">
                                <span class="label label-info" ng-repeat="label in mark.labels">{{label}}</span>
                            </td>
                        </tr>  
                    </tbody>
                </table>
            </div>
            
            <div class="span12 page-separator">
                <i class="icon-asterisk"></i>
                <i class="icon-asterisk"></i>
                <i class="icon-asterisk"></i>
            </div>
        </div>
    </div>
    

</body>
</html>
