body {
}

header 
{
    background: url(../img/clouds.jpg) center center;
    height: 80px;
    margin-bottom: 10px;
}

span.label
{
    margin-right: 5px;
    cursor: pointer;
}

.page-separator 
{
    text-align: center;
    padding: 20px 0;
}
    .page-separator i { opacity: 0.3; }
    .page-separator i:nth-child(odd) { opacity: 0.15; }
    
    
.loader 
{
    line-height: 2em;
    background: white;
    border-radius: 5px;
    border: 1px solid #d0d0d0;
    text-align: center;
    width: 200px;
    margin: 10px -100px;
    position: fixed;
    left: 50%;
    z-index: 1000;
}